/* #region common styles */
body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #fff;
}
/* #endregion */

/* #region resets */
ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* #endregion */
/* #region header */
.page-header {
}
.header-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5 !important; /* Робимо колір пріоритетним */
}

.logo-part {
  color: #2e2f42; /* Тільки міняємо колір для STUDIO */
}
.nav-list {
}
.nav-item {
}
.nav-link {
}
.contacts {
}
.contacts-list {
}
.conatacts-items {
}
.contacts-link {
}


/* #endregion */
