/* #region common styles */
body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #fff;
}
/* #endregion */

/* #region resets */
ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* #endregion */
/* #region header */
.page-header {
}
.header-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5
}
.header-logo .logo-part {
  color: #2e2f42; /* Тільки міняємо колір для STUDIO */
}
.nav-list {
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style:normal;
}
.contacts-list {
}
.conatacts-items {
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;
}
/* #endregion */
/* #region footer */
.page-gooter{
  background-color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd; /* Тільки міняємо колір для STUDIO */
}


/* #endregion */

